.video-details-container {
  display: flex;
  width: var(--container-width-lg);
  margin: 0 auto;
  margin-top: 50px;
  color: var(--color-primary);
}

.main-content {
  flex: 3;
  margin-right: 20px;
}

.video-player {
  margin-bottom: 20px;
  max-width: 900px;
}

video {
  width: 100%;
  height: auto;
}

.video-details-info {
  padding: 10px 0;
}

.video-details-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.video-details-author-info {
  display: flex;
  gap: 20px;
}

.video-details-author,
.video-details-time,
.video-details-description {
  font-size: 1rem;
  margin: 5px 0;
}
